/* public/recursos/estilos/plantilla/barra-superior.css */

.topbar {
    height: 50px;
    background: var(--panel);
    border-bottom: 1px solid var(--borde);
    display: flex;
    align-items: center;
    padding: 0 22px;
    flex-shrink: 0;
}
.topbar-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
    color: var(--texto);
}